.containerNavbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    height: 30%;
    margin-bottom: 5%;
}

.containerNavbar__list{    
    margin-top: 3%;
}
.navBar-button{
    
}
.containerNavbar__div{
    display: flex;
    flex-direction: column;
    margin-top: 3%;
}
/* Estilos para el tema claro */
.light-theme {
    background-color: #ffffff;
    color: #000000;
}

  /* Estilos para el tema oscuro */
.dark-theme {
    background-color: #333333;
    color: #ffffff;
}